In [77]:
import pandas as pd
import numpy as np
import seaborn as sns

146b86c8ca01f000

In [78]:
fao = pd.read_csv("FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding='latin-1')
fao.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

## Question 11

In [79]:
sum_fat = fao.groupby('Item').sum()

In [80]:
sum_fat[['Y2014', 'Y2017']]

                         Y2014      Y2017
Item
Alcohol, Non-Food      2403.00    2348.00
Alcoholic Beverages  102410.11   95581.06
Animal Products       11935.65   11547.65
Animal fats          209460.54  269617.53
Apples and products    9499.23   10198.90
...                        ...        ...
Vegetables, Other    155038.96  157752.59
Vegetal Products     107145.19  107655.20
Wheat and products   232670.13  240047.62
Wine                   4497.36    4178.02
Yams                 200396.96  229174.59

[119 rows x 2 columns]

## Question 12

In [81]:
mean_2015 = round(fao['Y2015'].mean(), 3)
std_2015 = round(fao['Y2015'].std(), 3)

In [82]:
print(mean_2015)
print(std_2015)

135.236
1603.404

## Question 13

In [83]:
fao.shape[0]

60943

In [84]:
fao.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [85]:
(1535/60943)*100

2.5187470259094566

## Question 14

In [86]:
fao.corr()['Element Code'].nlargest(2)

Element Code    1.000000
Y2014           0.024457
Name: Element Code, dtype: float64

## Question 15

In [87]:
sum_import_quantity = fao.groupby('Element').sum()

In [88]:
sum_import_quantity.iloc[7]

Area Code         688174.00
Item Code       13795966.00
Element Code    28834929.00
Y2014             274144.48
Y2015             267018.46
Y2016             286582.78
Y2017             294559.09
Y2018             287997.09
Name: Import Quantity, dtype: float64

## Question 16

In [89]:
sum_production = fao.groupby('Element').sum()

In [90]:
sum_production.iloc[11]

Area Code         526751.00
Item Code       10450053.00
Element Code    21388191.00
Y2014            1931287.75
Y2015            1947019.39
Y2016            1943537.15
Y2017            2030056.89
Y2018            2075072.89
Name: Production, dtype: float64

## Question 17

In [91]:
sum_2018 = fao.groupby('Element').sum()['Y2018'].max()
sum_2018

2161192.1

## Question 18

In [92]:
sum_country = fao.groupby(['Element']).sum()
sum_country['Y2018'].nsmallest(3)

Element
Tourist consumption                          90.00
Fat supply quantity (g/capita/day)        10258.69
Protein supply quantity (g/capita/day)    11833.56
Name: Y2018, dtype: float64

## Question 20

In [93]:
len(fao['Area'].unique())

49

## Question 19

In [94]:
algeria = fao[fao['Area']=='Algeria']

In [96]:
algeria.groupby('Element').sum()['Y2018']

Element
Domestic supply quantity                  90023.42
Export Quantity                             811.54
Fat supply quantity (g/capita/day)          309.09
Feed                                      10668.00
Food                                      63736.33
Food supply (kcal/capita/day)             13288.00
Food supply quantity (kg/capita/yr)        1509.28
Import Quantity                           36238.29
Losses                                     7708.00
Other uses (non-food)                      3970.08
Processing                                 2479.00
Production                                60766.67
Protein supply quantity (g/capita/day)      367.28
Residuals                                   630.00
Seed                                        825.00
Stock Variation                            6172.00
Total Population - Both sexes             42228.00
Name: Y2018, dtype: float64